<%- include ('../admin/layouts/header.ejs')-%>

    <!-- partial -->
    <div class="col-12 mt-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <!-- <p class="card-description"> Basic form elements </p> -->
                <form class="forms-sample" action="/admin" method="post" >
                    <div class="form-group">
                        <label for="exampleInputName1">Category Name</label>
                        <select name="categoryname" class="form-control" required>
                            <% for(let j=0;j<productofferdata.length;j++){%>
                            <% for (let i = 0; i < productdata.length; i++) { %>
                                <option value="<%=productofferdata[j].productname  %>"><%= productdata[i].productname %></option>
                            <% } %>
                        </select>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="avtivationDate">Starting Date</label>
                        <input type="date" value="<%= productofferdata[j].startingdate %>" class="form-control" id="activationErr" 
                        name="startingdate"  placeholder="activation date" style="color: white;" required>
                        <p style="color: red;" id="activationErr"></p>
                    </div>
                    <div class="form-group">
                        <label for="avtivationDate">Expiry Date</label>
                        <input type="date" class="form-control" id="activationErr"
                        name="expirydate"  placeholder="activation date" style="color: white;" required>
                        <p style="color: red;" id="activationErr"></p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Offer percentage</label>
                        <input type="number" class="form-control" value="<%= productofferdata[j].Offerpercentage %>" id="exampleInputPassword4"
                           name="offerpercentage" placeholder="Discount Amount" name="offerpercentage" required>
                    </div>
                   
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-dark"><a href="/admin/offermanagement">Cancel</a></button>
                </form>
                <%}%>
            </div>
        </div>
    </div>

    <%- include ('../admin/layouts/footer.ejs')-%>