<%- include ('../admin/layouts/header.ejs')-%>
 
        <!-- partial -->
        <div class="main-panel" >
            <div class="content-wrapper">
             
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body" id="statuss"  >
                      <h4 class="card-title">Order Management</h4>
                      <!-- <p class="card-description"> Add class <code>.table</code> -->
                      </p>
                      <div class="table-responsive" >
                        <table class="table">
                          <thead>
                            <tr>
                                <th style="font-weight: 800;" >No.</th>
                                <th style="font-weight: 800;" >Date</th>
                                <th style="font-weight: 800;" >Amount</th>
                                <th style="font-weight: 800;" >Payment</th>
                                <th style="font-weight: 800;" >Details</th>
                                <!-- <th style="font-weight: 800;" >UpdateStatus</th> -->
                                <!-- <th style="font-weight: 800;" >Details</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <% let count=1; %>
                            <% for(let i=0;i<orderdata.length; i++){%>
                                    <tr>
                                      <td>
                                        <%= count++ %>
                                      </td>
                                      <td>
                                        <%= orderdata[i].purchaseDate.toLocaleDateString('en-US',
                                          {
                                          year: 'numeric'
                                          , month: 'short'
                                          , day: '2-digit'
                                          }).replace(/\//g,'-')%>
                                      </td>
                                      <td>Rs.<%= orderdata[i].totalAmount
                                          %>
                                      </td>
                                      <td>
                                        <%= orderdata[i].paymentMethod
                                          %>
                                      </td>
                                      
                                      <td><a
                                          href="/admin/orderdetails?id=<%= orderdata[i]._id%>">Details</a>
                                      </td>
                                    </tr>
                                    <%}%>
                                      
                        </tbody>
                        </table>
                      </div>
                    </div>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <% if(id=>orderpagecount){%>
                          <li class="page-item "> 
                            <a class="page-link" href="/admin/orders?id=<%= id-1%>">Previous</a>
                          </li>
                            <%}else{%>
                              <li class="page-item disabled"> 
                                <a class="page-link" href="/admin/orders?id=<%= id-1%>">Previous</a>
                              </li>
                              <%}%>
                        <% for(let i=1;i<=orderpagecount;i++){%>
                          <li class="page-item"><a class="page-link" href="/admin/orders?id=<%=i %>"><%= i %></a></li>
                          <%}%>
                       
                          <% if(id<orderpagecount){%>
                            <li class="page-item">
                            <a class="page-link" href="/admin/orders?id=<%=parseInt(id)+1 %>">Next</a>
                          </li>
                            <%} else{%>
                              <li class="page-item disabled">
                                <a class="page-link" href="/admin/orders?id=<%=parseInt(id)+1 %>">Next</a>
                              </li>
                              <%}%>
                      </ul>
                    </nav>
                  </div>
                </div>
                <script>
          
         
                    </script>
       
         <%- include ('../admin/layouts/footer.ejs')-%>