<%- include ('../admin/layouts/header.ejs')-%>

  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">

      <div class="row">
        <div class="col-lg-12  grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Product Management</h4>
              <a href="/admin/addproduct" class="btn btn-primary">Add Product</a>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Product Name</th>
                      <th> Category</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <!-- <th> discountamount</th> -->
                    </tr>
                    <% var count=1%>
                    <% data.forEach((item)=>{ %>
                      <tr>
                        <td>

                          <%= count++%>
                        </td>
                        <td>
                          <%= item.productname %>
                        </td>
                        <td>
                          <%= item.category %>
                        </td>
                        <td>
                          <%= item.quantity %>
                        </td>
                        <td>
                          <%= item.price %>
                        </td>
                        <!-- <td>
                          <%= item.discountamount %>
                        </td> -->
                        <td>
                          <p><a href="/admin/delete/product?id=<%= item._id %>" class="badge badge-danger"
                              onclick="return confirm('Are you sure? Do you want to Delete')">Delete</a></p>
                        </td>
                        <td>
                          <p><a href="/admin/edit/product?id=<%= item._id %>" class="btn btn-primary">Edit</a></p>
                        </td>
                        <td>
                          <% if(item.status==0){%>
                            <p><a href="/admin/list/product?id=<%= item._id %>" class="badge badge-danger"
                                onclick="return confirm('Are you sure? Do you want to Unlist')">Unlist</a></p>
                            <% } else{ %>
                              <p><a href="/admin/list/product?id=<%= item._id %>" class="badge badge-success"
                                  onclick="return confirm('Are you sure? Do you want to list')">List</a></p>
                              <% }%>
                        </td>
                      </tr>
                      <% }); %>



                  </thead>
                  <tbody>


                  </tbody>
                </table>
              </div>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <% if(id=>productpagecount){%>
                  <li class="page-item "> 
                    <a class="page-link" href="/admin/productmanagement?id=<%= id-1%>">Previous</a>
                  </li>
                    <%}else{%>
                      <li class="page-item disabled"> 
                        <a class="page-link" href="/admin/productmanagement?id=<%= id-1%>">Previous</a>
                      </li>
                      <%}%>
                <% for(let i=1;i<=productpagecount;i++){%>
                  <li class="page-item"><a class="page-link" href="/admin/productmanagement?id=<%=i %>"><%= i %></a></li>
                  <%}%>
               
                  <% if(id<productpagecount){%>
                    <li class="page-item">
                    <a class="page-link" href="/admin/productmanagement?id=<%=parseInt(id)+1 %>">Next</a>
                  </li>
                    <%} else{%>
                      <li class="page-item disabled">
                        <a class="page-link" href="/admin/productmanagement?id=<%=parseInt(id)+1 %>">Next</a>
                      </li>
                      <%}%>
              </ul>
            </nav>
          </div>
        </div>

        <%- include ('../admin/layouts/footer.ejs')-%>