<%- include('../user/layout/header.ejs') %>

<style>
    .swal2-toast {
        width: 900px;
        /* Adjust the width as needed */
        height: 100px;
        /* Adjust the height as needed */
        font-size: 18px;
        margin-top: 70px;
    }
    </style>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-container" style="display: flex;">
                        <div class="cart-discount" id="couponfield">
                            <form action="#">
                                <div class="input-group">

                                    <input type="text" id="couponcode" class="form-control" required
                                        placeholder="coupon code" name="couponcode">
                                    <div class="input-group-append">
                                        <button onclick="couponsubmit('<%= totalsum %>')"
                                            class="btn btn-outline-primary-2" type="button"><i
                                                class="icon-long-arrow-right"></i></button>
                                        <button type="button" onclick="coupondelete('<%= totalsum %>')">
                                            <i class="icon-close"></i>
                                        </button>

                                    </div><!-- .End .input-group-append -->
                                    <button type="button" id="proceed-to-checkout" data-toggle="modal"
                                        data-target="#exampleModalLong"
                                        class="btn btn-outline-primary-2 btn-order btn-block">Select Coupon
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">
                                                        Coupons
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <% for(let i=0;i<coupondata.length;i++){%>
                                                        <% if(coupondata[i].status==0) {%>
                                                            <% if(Date.now()<= coupondata[i].expirydate){%>
                                                            <div>
                                                                <div class="card" style="width: 29rem;">
                                                                    <div class="card-body">
                                                                        <h3 class="card-title">
                                                                            <%= coupondata[i]. couponname %>
                                                                        </h3>
                                                                        <div class="coupon-code-container mt-2">
                                                                            <h4 class="card-subtitle mb-2 text-muted">
                                                                                Code: <%= coupondata[i]. couponcode %>
                                                                            </h4>
                                                                            <span class="copy-icon"
                                                                                onclick="console.log(this.getAttribute('data-coupon-code')); copyCouponCode(this.getAttribute('data-coupon-code'))">
                                                                                <i class="fas fa-copy"></i>
                                                                            </span>
                                                                        </div>
                                                                        <span>only for up to: <p>
                                                                                <%= coupondata[i].
                                                                                    expirydate.toLocaleDateString('en-US',
                                                                                    { year: 'numeric' , month: 'short' ,
                                                                                    day: '2-digit'
                                                                                    }).replace(/\//g,'-')%>
                                                                            </p></span>
                                                                        <p class="card-text">
                                                                            <%= coupondata[i]. description%>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           <%}%>
                                                            <%}%>
                                                                <%}%>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <!-- <button type="button" class="btn btn-primary">Save
                                                    changes</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- End .input-group -->
                            </form>
                        </div>
<input type="hidden" id="orderid" value="<%= orderid%>">
                        <div class="add-new-address" style="margin-left: auto; margin-top: 2rem;">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter">
                                Add new address
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/addnewaddress" method="post" >
                                                <div class="form-group row">
                                                  <div class="col-sm-9">
                                                    <h5>Name:</h5>
                                                    <input type="text" class="form-control" id="user-Name"  name="name" placeholder="Your name.." required>
                                                    <span id="name-Error" style="color: red;"></span>

                                                </div>
                                                </div>
                                        
                                                <div class="form-group row">
                                                  <div class="col-sm-9">
                                                    <h5>Phone Number:</h5>
                                                    <input type="text" class="form-control" id="mobile" name="phonenumber" placeholder="Your phone number.." required>
                                                    <span id="phonenumberError"
																		style="color: red;"></span>

                                                  </div>
                                                </div>
                                        
                                                
                                                <div class="form-group row">
                                                  <div class="col-sm-9">
                                                    <h5>Address:</h5>
                                                    <input type="text" class="form-control" id="address"  name="address" placeholder="Your address.." required>
                                                    <span id="address-Error" style="color: red;"></span>

                                                </div>
                                                </div>
                                        
                                                <div class="form-group row">
                                                  <div class="col-sm-9">
                                                    <h5>City:</h5>
                                                    <input type="text" class="form-control" id="city"  name="city" placeholder="Your city.." required>
                                                    <span id="cityError" style="color: red;"></span>

                                                  </div>
                                                </div>
                                        
                                                <div class="form-group row">
                                                  <div class="col-sm-9">
                                                    <h5>State:</h5>
                                                    <input type="text" class="form-control" id="state"  name="state" placeholder="Your state.." required>
                                                    <span id="stateError" style="color: red;"></span>
 
                                                </div>
                                                </div>
                                        
                                                <div class="form-group row">
                                                  <div class="col-sm-9">
                                                    <h5>Country:</h5>
                                                    <input type="text" class="form-control" id="country"  name="country" placeholder="Your country.." required>
                                                    <span id="countryError" style="color: red;"></span>
 
                                                </div>
                                                </div>
                                        
                                                <div class="form-group row">
                                                  <div class="col-sm-9">
                                                    <h5>Pin Code:</h5>
                                                    <input type="text" class="form-control" id="pinCode"  name="pincode" placeholder="Your pin code.." required>
                                                    <span id="pincodeError" style="color: red;"></span>
  
                                                </div>
                                                </div>
                                        
                                                <div class="form-group row">
                                                  <!-- Additional fields if needed -->
                                                </div>
                                         <div class="form-group">
                                                                <button type="submit" class=" btn btn-primary rounded submit px-3">Submit</button>
                                                            </div>
                                              </form>
                                        
                                        </div>
                                        <!-- <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                    <form action="#" id="myForm">
    
                        <div class="row">
                            <div class="col-lg-9">
                                <% useraddress.forEach((item)=> { %>
                                    <% item.userdata.forEach((element)=> { %>
                                        <label class="p-3 border rounded-4 m-2 custom-label"
                                            th:each="address, iterStat : " style="width: 100%;">
                                            <div class="form-check d-flex align-items-center mx-4">
                                                <input class="form-check-input" type="radio" name="address"
                                                    value="<%= item._id %>" name="selectedAddressId" checked>
                                                <div class="mx-3 mx-md-5">
                                                    <p class="text-dark">
                                                        <b><span>
                                                                <%= element.name %>
                                                            </span></b>,
                                                        <span>
                                                            <%= element.city %>
                                                        </span>,
                                                        <span>
                                                            <%= element.state %>
                                                        </span>,
                                                        <span>Contact: <i class="fa-thin fa-mobile"></i>
                                                            <b style="color: #043a6c;">
                                                                <span style="font-size: 13px;">
                                                                    <%= element.phonenumber %>
                                                                </span>
                                                            </b>
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <%= element.address %>
                                                    </p>
                                                    <p>
                                                        <%= element.pincode %>
                                                    </p>
                                                </div>
                                            </div>
                                        </label>
                                        <% }); %>
                                            <% }); %>
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% cartdata.forEach((item)=>{%>
                                                <% item.items.forEach((element)=>{%>
                                                    <tr>
                                                        <td><a href="#">
                                                                <%= element.productid.productname %>
                                                            </a></td>
                                                        <td>
                                                            <%= element.productid.price %>
                                                        </td>
                                                    </tr>
                                                    <%}) %>
                                                        <%}) %>

                                                            <tr class="summary-subtotal">
                                                                <td>Subtotal:</td>
                                                                <td>Rs.<%= totalsum %>
                                                                </td>
                                                            </tr><!-- End .summary-subtotal -->
                                                            <tr>
                                                                <td>Shipping:</td>
                                                                <td>Free shipping</td>
                                                            </tr>

                                                            <tr>
                                                                <td>Coupon Amount:</td>
                                                                <td name="amount" id="couponamount">Rs.0</td>
                                                            </tr>
                    </form>
                    <div id="reload">
                        <tr class="summary-total">
                            <td>Total:</td>
                            <td id="total">Rs.<%= totalsum %>
                            </td>
                        </tr><!-- End .summary-total -->
                    </div>
                    </tbody>
                    </table><!-- End .table table-summary -->

                    <div class="accordion-summary" id="accordion-payment">
                       

                        
                            <div class="d-flex align-items-center">
                                <div class="mr-2">
                                    <input required type="radio" id="COD" name="payment" value="Cash on delivery" checked />
                                </div>
                                <a href="" class="d-block text-dark" for="pay1">Cash On Delivery</a>
                            </div>
                      

                       
                            <div class="d-flex align-items-center">
                                <div class="mr-2">
                                    <input required type="radio" id="payment" name="payment" value="Online Payment" />
                                </div>
                                <a href="" class="d-block text-dark" for="pay2">Online Payment</a>
                            </div>
                            
                        <!-- <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                        <input required type="radio" id="wallet" name="payment" value="wallet" />
                                    </div>
                                    <a href="" class="d-block text-dark" for="pay3">Wallet</a>
                                </div> -->

                       
                    </div><!-- End .accordion -->

                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                        <span class="btn-text">Place Order</span>
                        <span class="btn-hover-text">Proceed to Checkout</span>
                    </button>
                </div><!-- End .summary -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
        </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <script>
         function couponsubmit(amount) {
            const value = document.getElementById('couponcode').value
            console.log(value);
            $.ajax({
                method: "post",
                url: "/coupondata",
                data: JSON.stringify({ val: value, total: amount }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.result == true) {
                        $('#total').text('Rs.' + response.reducedamount);
                        $('#couponamount').text('Rs.' + response.discountamount);

                        $('#reload').load('/cart #reload')

                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            }
                        });
                        Toast.fire({
                            icon: "success",
                            title: "Coupon added successfully"
                        });

                    } else if (response.result == false) {
                        Swal.fire("The field is empty");
                    }
                    else if (response.date == false) {
                        Swal.fire("This Coupon is expired ");
                    }else if(response.amount ==false){
                        Swal.fire("Purchase does not meet the minimum required for the discount")
                    }else if(response.userlimit ==false){
                        Swal.fire("User limit exceeded")

                    }else if(response.res ==false){
                       
                        Swal.fire("The coupon already redeemed");

                    }

                    else {
                        Swal.fire("Invalid couponcode")

                    }

                }


            })
        }


        function coupondelete(amount) {
            const value = document.getElementById('couponcode').value
            const total = document.getElementById('total')

            $.ajax({
                method: "delete",
                url: "/deletecoupon",
                data: JSON.stringify({ total: amount, value: value }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.result == true) {
                        $('#total').text('Rs.' + response.total);
                        $('#couponamount').text('Rs.' + 0);

                        $('#couponfield').load('/ProceedtoCheckout #couponfield')
                        $('#reload').load('/cart #reload')

                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            },

                        });
                        Toast.fire({
                            icon: "success",
                            title: "Coupon Removed Successfully"
                        });

                    } else {
                        console.log("Nothing to delete");

                    }
                }
            })

        }


        $(document).ready(function () {
          
            $('#myForm').submit(function (event) {
              
                const amount = document.getElementById('couponamount').innerText
                const val = amount.split('.')
                const totalamount = val[1]
                const couponcode = document.getElementById('couponcode').value
                console.log(couponcode);
                console.log(totalamount);
                event.preventDefault();
                var formData = $(this).serializeArray();
                formData.push({ name: "total", value: totalamount })
                formData.push({ name: "couponcode", value: couponcode })
                console.log(formData);
                $.ajax({
                    url: '/ProceedOrder',
                    method: 'POST',
                    data: formData,
                    success: function (response) {
                        console.log(response)
                        if (response.success == true) {
                            console.log("jhgguyjgjg");
                            window.location.href = `/orderplaced?id=${response.orderid}`
                        }else if(response.address== false){
                            Swal.fire("Create a shipping address to proceed.");

                        }
                         else if (response.online == true) {
                            console.log("wallet");
                        }
                        else {
                            razorpayPayment(response.order,response.orderid)

                        }
                    },
                    error: function (error) {

                        console.error('Error:', error);
                    }
                });
            });
        });

        // function discountamount(){
        //     console.log("fhjfhfhfhf");
        //     const amount = document.getElementById('couponamount')
        //     const numericValue = parseInt(amount.innerText.replace('Rs.', '').trim());

        //     console.log(numericValue);
        //   $.ajax({
        //     url:"/ProceedOrder",
        //     method:"post",
        //     data:JSON.stringify({amount:numericValue}),
        //     contentType:'application/json',
        //     success:function(response){
        //         if(response.result==true){
        //             console.log("success");
        //         }else{
        //             console.log("error");
        //         }
        //     }
        // })
        // }

        function razorpayPayment(order,orderid) {
            console.log(order);
            console.log(orderid);
            var options = {
                "key": "rzp_test_spjMMzxxQd5jRn",
                "amount": order.amount,
                "currency": "INR",
                "name": "Shozey",
                "description": "Test Transaction",
                "image": "assets/images/Shozey.png",
                "order_id": order.id,
                handler: function (response) {
                    verifyPayment(response, order,orderid);
                },
                "prefill": {
                    "name": "Shozey",
                    "email": "shozey@gmail.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Shozey "
                },
                "theme": {
                    "color": "#cc9967"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }


        function verifyPayment(payment, order,orderid) {
            const amount2 = document.getElementById("total").value;
            console.log(amount2);
            $.ajax({
                url: "/verify-payment",
                method: "post",
                data: {
                    payment: payment,
                    amount2: amount2,
                    order: order,
                    orderid:orderid
                },
                success: (response) => {
                    if (response.placed == true) {
                       
                        window.location.href = `/orderplaced?id=${response.orderid}`
                    } else {
                        swal.fire({
                            positon: "center",
                            icon: "error",
                            title: "Payment failed",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                    }
                },
            });
        }

		///////////Address
        const phonenumber = document.getElementById('mobile');
		phonenumber.addEventListener('input', validphonenumber);
		function validphonenumber() {
			const phone = document.getElementById('mobile').value;
			const phonenumberpattern = /\b\d{10}\b/;
			if (phone.trim() == "") {
				document.getElementById("phonenumberError").innerHTML = "Please enter a valid phonenumber"
				phonenumber.setCustomValidity(" Enter a valid phonenumber");
			}
			if (!phone.match(phonenumberpattern)) {
				document.getElementById('phonenumberError').innerHTML = "Phonenumber must contain 10 digits";
				phonenumber.setCustomValidity("Phonenumber must contain 10 digits");
			} else {
				document.getElementById('phonenumberError').innerHTML = "";
				phonenumber.setCustomValidity("");
			}
		}


		const username = document.getElementById("user-Name");
		username.addEventListener('input', validusername);

		function validusername() {
			const name = document.getElementById("user-Name").value;
			const namepattern = /^[A-Za-z0-9]{5,15}$/;

			if (name.trim() === "") {
				document.getElementById('name-Error').innerHTML = " Enter a name";
				username.setCustomValidity("Enter a name");
			} else {
				
				if (!name.match(namepattern)) {
					document.getElementById('name-Error').innerHTML = "Name must be alphanumeric and between 5-15 characters";
					username.setCustomValidity("Enter a name");
				} else {
					document.getElementById('name-Error').innerHTML = "";
					username.setCustomValidity("");
				}
			}
		}

		const address = document.getElementById("address");
		address.addEventListener('input', validaddress);

		function validaddress() {
			const name = document.getElementById("address").value;

			if (name.trim() === "") {
				document.getElementById('address-Error').innerHTML = " Enter your address";
				firstname.setCustomValidity("Enter a address");
			} else {
				const namepattern = /^(.*[a-zA-Z]){2,}/;
				;
				if (!name.match(namepattern)) {
					document.getElementById('address-Error').innerHTML = " Enter a address ";
					firstname.setCustomValidity("Enter a address");
				} else {
					document.getElementById('address-Error').innerHTML = "";
					firstname.setCustomValidity("");
				}
			}
		}

		const city = document.getElementById("city");
		city.addEventListener('input', validcity);

		function validcity() {
			const citys = document.getElementById("city").value;

			if (citys.trim() === "") {
				document.getElementById('cityError').innerHTML = "Enter your city";
				city.setCustomValidity("Enter a city");
			} else {
				const citypattern = /^(.*[a-zA-Z]){2,}/;
				if (!citys.match(citypattern)) {
					document.getElementById('cityError').innerHTML = "Enter a city ";
					city.setCustomValidity("Enter a city");
				} else {
					document.getElementById('cityError').innerHTML = "";
					city.setCustomValidity("");
				}
			}
		}

		const state = document.getElementById("state");
		state.addEventListener('input', validstate);

		function validstate() {
			const states = document.getElementById("state").value;

			if (states.trim() === "") {
				document.getElementById('stateError').innerHTML = "Enter your state";
				state.setCustomValidity("Enter a state");
			} else {
				const statepattern = /^(.*[a-zA-Z]){2,}/;
				if (!states.match(statepattern)) {
					document.getElementById('stateError').innerHTML = "Enter a state ";
					state.setCustomValidity("Enter a state");
				} else {
					document.getElementById('stateError').innerHTML = "";
					state.setCustomValidity("");
				}
			}
		}

		const country = document.getElementById("country");
		country.addEventListener('input', validcountry);

		function validcountry() {
			const countries = document.getElementById("country").value;

			if (countries.trim() === "") {
				document.getElementById('countryError').innerHTML = "Enter your country";
				countries.setCustomValidity("Enter a country");
			} else {
				const statepattern = /^(.*[a-zA-Z]){2,}/;
				if (!countries.match(statepattern)) {
					document.getElementById('countryError').innerHTML = "Enter a country";
					countries.setCustomValidity("Enter a country");
				} else {
					document.getElementById('countryError').innerHTML = "";
					countries.setCustomValidity("");
				}
			}
		}

		const pincode = document.getElementById("pinCode");
		pincode.addEventListener('input', validpincode);

		function validpincode() {
			const pinCode = document.getElementById("pinCode").value;

			if (pinCode.trim() === "") {
				document.getElementById('pincodeError').innerHTML = "Enter your pincode";
				pincode.setCustomValidity("Please enter a pincode");
			} else {
				const pincodepattern = /^[0-9]+$/;
				if (!pinCode.match(pincodepattern)) {
					document.getElementById('pincodeError').innerHTML = "Enter a valid pincode";
					pincode.setCustomValidity("Invalid pincode format");
				} else {
					document.getElementById('pincodeError').innerHTML = "";
					pincode.setCustomValidity("");
				}
			}
		}

    </script>
        <%- include('../user/layout/footers.ejs') -%>


