<%- include('../user/layout/header.ejs')-%>
<main>
    <% if (data && data.userdata) { %>
        <% data.userdata.forEach((items) => { %>
          <div class="main-add">
            <div class="container">
              <h1 class="m-5">Edit Address</h1>
              <form action="/updatingaddress?id=<%= data._id %>" method="post">
                <div class="form-group row">
                  <div class="col-sm-9">
                    <h5>Name:</h5>
                    <input type="text" value="<%= items.name %>" class="form-control" id="user-Name" name="name" placeholder="Your name..">
                    <span id="name-Error" style="color: red;"></span>

                  </div>
                </div>
      
                <div class="form-group row">
                  <div class="col-sm-9">
                    <h5>Phone Number:</h5>
                    <input type="text" value="<%= items.phonenumber %>" class="form-control" id="mobile" name="phonenumber" placeholder="Your phone number..">
                    <span id="phonenumberError"
                    style="color: red;"></span>

                  </div>
                </div>
      
                <div class="form-group row">
                  <div class="col-sm-9">
                    <h5>Address:</h5>
                    <input type="text" value="<%= items.address %>" class="form-control" id="address" name="address" placeholder="Your address..">
                    <span id="address-Error" style="color: red;"></span>

                  </div>
                </div>
      
                <div class="form-group row">
                  <div class="col-sm-9">
                    <h5>City:</h5>
                    <input type="text" value="<%= items.city %>" class="form-control" id="city" name="city" placeholder="Your city..">
                    <span id="cityError" style="color: red;"></span>

                  </div>
                </div>
      
                <div class="form-group row">
                  <div class="col-sm-9">
                    <h5>State:</h5>
                    <input type="text" value="<%= items.state %>" class="form-control" id="state" name="state" placeholder="Your state..">
                    <span id="stateError" style="color: red;"></span>

                  </div>
                </div>
      
                <div class="form-group row">
                  <div class="col-sm-9">
                    <h5>Country:</h5>
                    <input type="text" value="<%= items.country %>" class="form-control" id="country" name="country" placeholder="Your country..">
                    <span id="countryError" style="color: red;"></span>

                  </div>
                </div>
      
                <div class="form-group row">
                  <div class="col-sm-9">
                    <h5>Pin Code:</h5>
                    <input type="text" value="<%= items.pincode %>" class="form-control" id="pinCode" name="pincode" placeholder="Your pin code..">
                    <span id="pincodeError" style="color: red;"></span>

                  </div>
                </div>
      
                <div class="form-group row">
                  <!-- Additional fields if needed -->
                </div>
      
                <div class="form-group">
                  <button type="submit" class="btn btn-primary rounded submit px-3">Submit</button>
                  <a href="/profile"><button type="submit" class="btn  rounded submit px-3">Cancel</button></a>

                </div>
              </form>
            </div>
          </div>
        <% }) %>
      <% } %>
      

  <!-- Shop Method End-->
</main>

<script>
  	const phonenumber = document.getElementById('mobile');
		phonenumber.addEventListener('input', validphonenumber);
		function validphonenumber() {
			const phone = document.getElementById('mobile').value;
			const phonenumberpattern = /\b\d{10}\b/;
			if (phone.trim() == "") {
				document.getElementById("phonenumberError").innerHTML = "Please enter a valid phonenumber"
				phonenumber.setCustomValidity(" Enter a valid phonenumber");
			}
			if (!phone.match(phonenumberpattern)) {
				document.getElementById('phonenumberError').innerHTML = "Phonenumber must contain 10 digits";
				phonenumber.setCustomValidity("Phonenumber must contain 10 digits");
			} else {
				document.getElementById('phonenumberError').innerHTML = "";
				phonenumber.setCustomValidity("");
			}
		}


		const username = document.getElementById("user-Name");
		username.addEventListener('input', validusername);

		function validusername() {
			const name = document.getElementById("user-Name").value;
			const namepattern = /^[A-Za-z0-9]{5,15}$/;

			if (name.trim() === "") {
				document.getElementById('name-Error').innerHTML = " Enter a name";
				username.setCustomValidity("Enter a name");
			} else {
				
				if (!name.match(namepattern)) {
					document.getElementById('name-Error').innerHTML = "Name must be alphanumeric and between 5-15 characters";
					username.setCustomValidity("Enter a name");
				} else {
					document.getElementById('name-Error').innerHTML = "";
					username.setCustomValidity("");
				}
			}
		}

		const address = document.getElementById("address");
		address.addEventListener('input', validaddress);

		function validaddress() {
			const name = document.getElementById("address").value;

			if (name.trim() === "") {
				document.getElementById('address-Error').innerHTML = " Enter your address";
				firstname.setCustomValidity("Enter a address");
			} else {
				const namepattern = /^[a-zA-Z0-9\s\.,#-]+$/;
				;
				if (!name.match(namepattern)) {
					document.getElementById('address-Error').innerHTML = " Enter a address ";
					firstname.setCustomValidity("Enter a address");
				} else {
					document.getElementById('address-Error').innerHTML = "";
					firstname.setCustomValidity("");
				}
			}
		}

		const city = document.getElementById("city");
		city.addEventListener('input', validcity);

		function validcity() {
			const citys = document.getElementById("city").value;

			if (citys.trim() === "") {
				document.getElementById('cityError').innerHTML = "Enter your city";
				city.setCustomValidity("Enter a city");
			} else {
				const citypattern = /^(.*[a-zA-Z]){2,}/;
				if (!citys.match(citypattern)) {
					document.getElementById('cityError').innerHTML = "Enter a city ";
					city.setCustomValidity("Enter a city");
				} else {
					document.getElementById('cityError').innerHTML = "";
					city.setCustomValidity("");
				}
			}
		}

		const state = document.getElementById("state");
		state.addEventListener('input', validstate);

		function validstate() {
			const states = document.getElementById("state").value;

			if (states.trim() === "") {
				document.getElementById('stateError').innerHTML = "Enter your state";
				state.setCustomValidity("Enter a state");
			} else {
				const statepattern = /^(.*[a-zA-Z]){2,}/;
				if (!states.match(statepattern)) {
					document.getElementById('stateError').innerHTML = "Enter a state ";
					state.setCustomValidity("Enter a state");
				} else {
					document.getElementById('stateError').innerHTML = "";
					state.setCustomValidity("");
				}
			}
		}

		const country = document.getElementById("country");
		country.addEventListener('input', validcountry);

		function validcountry() {
			const countries = document.getElementById("country").value;

			if (countries.trim() === "") {
				document.getElementById('countryError').innerHTML = "Enter your country";
				countries.setCustomValidity("Enter a country");
			} else {
				const statepattern = /^(.*[a-zA-Z]){2,}/;
				if (!countries.match(statepattern)) {
					document.getElementById('countryError').innerHTML = "Enter a country";
					countries.setCustomValidity("Enter a country");
				} else {
					document.getElementById('countryError').innerHTML = "";
					countries.setCustomValidity("");
				}
			}
		}

		const pincode = document.getElementById("pinCode");
		pincode.addEventListener('input', validpincode);

		function validpincode() {
			const pinCode = document.getElementById("pinCode").value;

			if (pinCode.trim() === "") {
				document.getElementById('pincodeError').innerHTML = "Enter your pincode";
				pincode.setCustomValidity("Please enter a pincode");
			} else {
				const pincodepattern = /^[0-9]+$/;
				if (!pinCode.match(pincodepattern)) {
					document.getElementById('pincodeError').innerHTML = "Enter a valid pincode";
					pincode.setCustomValidity("Invalid pincode format");
				} else {
					document.getElementById('pincodeError').innerHTML = "";
					pincode.setCustomValidity("");
				}
			}
		}
</script>
<%- include('../user/layout/footers.ejs')-%>