<%- include('../user/layout/header.ejs') -%>


    <main class="main">
        <div class="container">
            <div class="intro-slider-container slider-container-ratio mb-2">
                <div class="intro-slider owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl"
                    data-owl-options='{"nav": false}'>
                    <div class="intro-slide">
                        <figure class="slide-image">
                            <picture>
                                <source media="(max-width: 480px)"
                                    srcset="assets/images/demos/demo-10/slider/slide-1-480w.jpg">
                                <img src="assets/images/demos/demo-10/slider/slide-1.jpg" alt="Image Desc">
                            </picture>
                        </figure>

                        <div class="intro-content">
                            <h3 class="intro-subtitle">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Sneakers & Athletic Shoes</h1><!-- End .intro-title -->

                            <div class="intro-price text-white">from $9.99</div><!-- End .intro-price -->

                            <a href="category.html" class="btn btn-white-primary btn-round">
                                <span>SHOP NOW</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide">
                        <figure class="slide-image">
                            <picture>
                                <source media="(max-width: 480px)"
                                    srcset="assets/images/demos/demo-10/slider/slide-2-480w.jpg">
                                <img src="assets/images/demos/demo-10/slider/slide-2.jpg" alt="Image Desc">
                            </picture>
                        </figure><!-- End .slide-image -->

                        <div class="intro-content">
                            <h3 class="intro-subtitle">Trending Now</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">This Week's Most Wanted</h1><!-- End .intro-title -->

                            <div class="intro-price text-white">from $49.99</div><!-- End .intro-price -->

                            <a href="category.html" class="btn btn-white-primary btn-round">
                                <span>SHOP NOW</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide">
                        <figure class="slide-image">
                            <picture>
                                <source media="(max-width: 480px)"
                                    srcset="assets/images/demos/demo-10/slider/slide-3-480w.jpg">
                                <img src="assets/images/demos/demo-10/slider/slide-3.jpg" alt="Image Desc">
                            </picture>
                        </figure><!-- End .slide-image -->

                        <div class="intro-content">
                            <h3 class="intro-subtitle text-white">Deals and Promotions</h3>
                            <!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Can’t-miss Clearance:</h1><!-- End .intro-title -->

                            <div class="intro-price text-white">starting at 60% off</div><!-- End .intro-price -->

                            <a href="category.html" class="btn btn-white-primary btn-round">
                                <span>SHOP NOW</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->
                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
        </div><!-- End .container -->

        <div class="banner-group">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="assets/images/demos/demo-10/banners/banner-1.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-right">
                                        <h4 class="banner-subtitle"><a href="#">New Arrivals</a></h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">Sneakers & <br>Athletic
                                                Shoes</a></h3><!-- End .banner-title -->
                                        <a href="#" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="banner banner-overlay banner-overlay-light">
                                    <a href="#">
                                        <img src="assets/images/demos/demo-10/banners/banner-2.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle bright-black"><a href="#">Clearance</a></h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">Sandals</a></h3><!-- End .banner-title -->
                                        <div class="banner-text"><a href="#">up to 70% off</a></div>
                                        <!-- End .banner-text -->
                                        <a href="#" class="btn btn-outline-gray banner-link btn-round">Shop Now</a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <div class="banner banner-large banner-overlay d-none d-sm-block">
                            <a href="#">
                                <img src="assets/images/demos/demo-10/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4>
                                <!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">Slip-On Loafers</a></h3>
                                <!-- End .banner-title -->
                                <div class="banner-text text-white"><a href="#">up to 30% off</a></div>
                                <!-- End .banner-text -->
                                <a href="#" class="btn btn-outline-white banner-link btn-round">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-8 -->

                    <div class="col-lg-4 d-sm-none d-lg-block">
                        <div class="banner banner-middle banner-overlay">
                            <a href="#">
                                <img src="assets/images/demos/demo-10/banners/banner-4.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-bottom">
                                <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4>
                                <!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">Amazing <br>Lace Up Boots</a></h3>
                                <!-- End .banner-title -->
                                <div class="banner-text text-white"><a href="#">from $39.00</a></div>
                                <!-- End .banner-text -->
                                <a href="#" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .banner-group -->

        <div class="icon-boxes-container icon-boxes-separator bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-primary">
                                <i class="icon-rocket"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                <p>Orders $50 or more</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-primary">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                <p>Within 30 days</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-primary">
                                <i class="icon-info-circle"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                <p>when you sign up</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-primary">
                                <i class="icon-life-ring"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                <p>24/7 amazing services</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->

        <div class="bg-light pt-5 pb-10 mb-3">
            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title-lg">New Arrivals</h2><!-- End .title -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab"
                                role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-women-link" data-toggle="tab" href="#new-women-tab" role="tab"
                                aria-controls="new-women-tab" aria-selected="false">Women's</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-men-link" data-toggle="tab" href="#new-men-tab" role="tab"
                                aria-controls="new-men-tab" aria-selected="false">Men's</a>
                        </li>
                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane tab-pane-shadow p-0 fade show active" id="new-all-tab" role="tabpanel"
                        aria-labelledby="new-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 0,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                            <% if(data){%>
                            <% data.forEach(function(item) { %>
                                <% if (item.status==0) { %>

                                    <div class="product product-3 text-center">
                                        <figure class="product-media">

                                            <% if (item.discountamount) { %>
                                                <% if (item.offername == "categoryoffer") { %>
                                                    <% for (let i = 0; i < Categoryofferdata.length; i++) { %>
                                                        <% if (Categoryofferdata[i].categoryname == item.category) { %>
                                                            <% if (Categoryofferdata[i].status == 0 && Categoryofferdata[i].expirydate >= Date.now()) { %>
                                                                
                                                                <span class="product-label label-primary">Sale</span>
                                                                <span class="product-label label-sale"> <%= Categoryofferdata[i].Offerpercentage %>% off</span>
                                                            <% }else{%><%} %>
                                                        <% } %>
                                                    <% } %>
                                                <% } else { %>
                                                    <% for(let i=0;i<Productofferdata.length;i++){%>
                                                        <% if(Productofferdata[i].productname == item.productname){%>
                                                           <%if(Productofferdata[i].status==0 && Productofferdata[i].startingdate<= Date.now() && Productofferdata[i].expirydate >= Date.now() ){%>
                    
                                                            <span class="product-label label-primary">Sale</span>
                                                            <span class="product-label label-sale"><%= Productofferdata[i].Offerpercentage %>% off</span>
                                                            <%} else{%><%}%>
                                                            <%} %>
                                                        
                                                        <%}%>
                                                    
                                                <% } %>
                                            <% } else { %>
                                                  
                                                </span>
                                            <% } %>
                                                              <a href="/productdetails?id=<%= item._id %>">
                                                            <img src="/productimages/<%= item.image[0] %>"
                                                                alt="Product image" class="product-image">
                                                        </a>
                                                        <div class="product-action-vertical">
                                                            <a onclick="wishlist('<%= item._id %>')"
                                                                class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                                    to
                                                                    wishlist</span></a>
                                                        </div>
                                        </figure>
                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">
                                                    <%= item.category %>
                                                </a>
                                            </div>
                                            <h3 class="product-title"><a href="/productdetails?id=<%= item._id %>">
                                                    <%= item.productname %>
                                                </a></h3>
                                            <div class="product-price">
                                                <% if (item.discountamount) { %>
                                                    
                                                    <% if(item.offername=="categoryoffer"){%>
                                                            <% if(item.offerstatus==0){%>
                                                                <span class="new-price">Rs.<%= item.discountamount %></span>
                                                                <span class="original-price"><s>Rs.<%= item.price %></s></span>
                                                                
                                                                <%}else{%>
                                                                    <span class="original-price">Rs.<%= item.price %></span>

                                                                    <%}%>
                                                              
                                                                   
                                                            
                                                        
                                                        <%}
                                                        else{%>
                                                            <% for(let j=0;j<Productofferdata.length;j++){%>
                                                                <% if(Productofferdata[j].productname == item.productname){%>
                                                                <% if(Productofferdata[j].status==0  && Productofferdata[j].startingdate<= Date.now() && Productofferdata[j].expirydate >= Date.now()){%>
                                                                    <span class="new-price">Rs.<%= item.discountamount %></span>
                                                                    <span class="original-price"><s>Rs.<%= item.price %></s></span>
                                                                    
                                                                    <%}
                                                                    else{%>
                                                                        <span class="original-price">Rs.<%= item.price %></span>
 
                                                                        <%} %>
                                                                     <%} %>   
                                                            <%} %>
                                                            <%}%>
                                                    <% }
                                                    
                                                    else { %>
                                                        <span class="new-price">Rs.<%= item.price %></span>
                                                        <% } %>

                                            </div>
                                        </div>
                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 60%;"></div>
                                                </div>
                                                <span class="ratings-text">(4 Reviews)</span>
                                            </div>
                                            <div class="product-nav product-nav-dots">
                                                <a href="#" class="active" style="background: #5f554b;"><span
                                                        class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #806f55;"><span class="sr-only">Color
                                                        name</span></a>
                                            </div>
                                            <div class="product-action">
                                                <% if (id) { %>
                                                    <p onclick="toAddCart('<%= item._id %>')"
                                                        class="btn-product btn-cart"><span>add to cart</span></p>
                                                    <% } else { %>
                                                        <p class="carts"><span>add to cart</span></p>
                                                        <% } %>

                                                            <a href="popup/quickView.html"
                                                                class="btn-product btn-quickview"><span>quick
                                                                    view</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% }); %>

                                        <%} else{%><%}%>



                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane tab-pane-shadow p-0 fade" id="new-women-tab" role="tabpanel"
                        aria-labelledby="new-women-link">
                        <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 0,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                            
                            <% if(womencategory){%>
                                <% for(let i=0;i<womencategory.length;i++){%>
                            <div class="product product-3 text-center">
                                <figure class="product-media">
                                    <% if(womencategory[i].quantity<=0){%>
                                    <span class="product-label label-primary">Out Of Stock</span>
                                    <%}else{%><%}%>
                                    <a href="/productdetails?id=<%= womencategory[i]._id %>">
                                        <img src="/productimages/<%= womencategory[i].image[0] %>"
                                            alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a onclick="wishlist('<%= womencategory[i]._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                                wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                       ,
                                        <a href="/productdetails?id=<%= womencategory[i]._id %>"><%= womencategory[i].category %></a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="/productdetails?id=<%= womencategory[i]._id %>"><%= womencategory[i].productname %></a>
                                    </h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="out-price">Rs.<%= womencategory[i].price %></span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 3 Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-action">
                                        <% if (id) { %>
                                            <p onclick="toAddCart('<%= womencategory[i]._id %>')"
                                                class="btn-product btn-cart"><span>add to cart</span></p>
                                            <% } else { %>
                                                <p class="carts"><span>add to cart</span></p>
                                                <% } %>                                
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview"><span>quick
                                                view</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                            <%} %>
                            <%} else{%><%}%>

                          
                          

                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane tab-pane-shadow p-0 fade" id="new-men-tab" role="tabpanel"
                        aria-labelledby="new-men-link">
                        <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 0,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                           


                            <% if(mencategory){%>
                                <% for(let i=0;i<mencategory.length;i++){%>
                            <div class="product product-3 text-center">
                                <figure class="product-media">
                                    <% if(mencategory[i].quantity<=0){%>
                                    <span class="product-label label-primary">Out Of Stock</span>
                                    <%}else{%><%}%>
                                    <a href="/productdetails?id=<%= mencategory[i]._id %>">
                                        <img src="/productimages/<%= mencategory[i].image[0] %>"
                                            alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a onclick="wishlist('<%= mencategory[i]._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                                wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                       ,
                                        <a href="/productdetails?id=<%= mencategory[i]._id %>"><%= mencategory[i].category %></a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="/productdetails?id=<%= mencategory[i]._id %>"><%= mencategory[i].productname %></a>
                                    </h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="out-price">Rs.<%= mencategory[i].price %></span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 3 Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-action">
                                        <% if (id) { %>
                                            <p onclick="toAddCart('<%= mencategory[i]._id %>')"
                                                class="btn-product btn-cart"><span>add to cart</span></p>
                                            <% } else { %>
                                                <p class="carts"><span>add to cart</span></p>
                                                <% } %>                                
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview"><span>quick
                                                view</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                            <%} %>
                            <%} else{%><%}%>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->
        </div><!-- End .bg-light -->

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4">
                    <div class="banner banner-cat">
                        <a href="#">
                            <img src="assets/images/demos/demo-10/banners/banner-5.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title font-weight-normal">Women's</h3><!-- End .banner-title -->
                            <h4 class="banner-subtitle">125 Products</h4><!-- End .banner-subtitle -->
                            <a href="category.html" class="banner-link">SHOP NOW</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4 -->

                <div class="col-sm-6 col-md-4">
                    <div class="banner banner-cat">
                        <a href="#">
                            <img src="assets/images/demos/demo-10/banners/banner-6.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title font-weight-normal">Men's</h3><!-- End .banner-title -->
                            <h4 class="banner-subtitle">97 Products</h4><!-- End .banner-subtitle -->
                            <a href="category.html" class="banner-link">SHOP NOW</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4 -->

                <div class="col-sm-6 col-md-4">
                    <div class="banner banner-cat">
                        <a href="#">
                            <img src="assets/images/demos/demo-10/banners/banner-7.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title font-weight-normal">Kid's</h3><!-- End .banner-title -->
                            <h4 class="banner-subtitle">48 Products</h4><!-- End .banner-subtitle -->
                            <a href="category.html" class="banner-link">SHOP NOW</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="mb-4"></div><!-- End .mb-4 -->

        <div class="container">
            <div class="heading heading-center mb-3">
                <h2 class="title-lg mb-2">Top Selling Products</h2><!-- End .title-lg text-center -->

                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab" role="tab"
                            aria-controls="top-all-tab" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="top-women-link" data-toggle="tab" href="#top-women-tab" role="tab"
                            aria-controls="top-women-tab" aria-selected="false">Women's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="top-men-link" data-toggle="tab" href="#top-men-tab" role="tab"
                            aria-controls="top-men-tab" aria-selected="false">Men's</a>
                    </li>
                </ul>
            </div><!-- End .heading -->

            <div class="tab-content">
                <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel"
                    aria-labelledby="top-all-link">
                    <div class="products just-action-icons-sm">
                        <div class="row">
                            <% if(products){%>
                            <% for(let i=0;i< products.length;i++){%>
                            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                <div class="product product-3 text-center">
                                    <figure class="product-media">
                                        <% if(products[i].offername=="categoryoffer") {%>
                                           
                                                <% if(products[i].offerstatus==0){%>
                                                    <span class="product-label label-primary">Sale</span>
                                                    <span class="product-label label-sale"><%= products[i].Offerpercentage %>% off</span>
                                                    <%}else{%>
                                                        <%}%>
                                              
                                          
                                            <%}else if(products[i].offername =="Productoffer"){%>
                                                <% if(products[i].offerstatus==0){%>
                                                    <span class="product-label label-primary">Sale</span>
                                                        <span class="product-label label-sale"><%= products[i].Offerpercentage %>% off</span>

                                                    <%}
                                                    else{%><%}%>
                                                <%}
                                            else{%>
                                                <%}%>
                                        <a href="product.html">
                                            <img src="/sharpedimages/<%= products[i].image[0]%>"
                                                alt="Product image" class="product-image">
                                        </a>

                                        <!-- <div class="product-countdown-container">
                                            <span class="product-contdown-title">offer ends in:</span>
                                            <div class="product-countdown countdown-compact" data-until="2019, 11, 3"
                                                data-compact="true"></div>
                                        </div>End .product-countdown-container -->

                                        <div class="product-action-vertical">
                                            <a onclick="wishlist('<%= products[i]._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                    to wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <!-- <a href="#">Men’s</a>, -->
                                            <a href="#"><%= products[i].category%></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="/productdetails?id=<%= products[i]._id %>"><%= products[i].productname%></a>
                                        </h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <% if(products[i].offername =="categoryoffer"){%>
                                                <% if(products[i].offerstatus==0){%>
                                                    <span class="new-price">Rs.<%= products[i].discountamount %></span>
                                                    <span class="old-price">Rs.<%= products[i].price%></span>
                                                    <%}
                                                    else{%>
                                                        <span class="new-price">Rs.<%= products[i].price%></span>

                                                        <%}%>
                                                <%}else if(products[i].offername =="Productoffer"){%>
                                                    <% if(products[i].offerstatus==0){%>
                                                    <span class="new-price">Rs.<%= products[i].discountamount %></span>
                                                    <span class="old-price">Rs.<%= products[i].price%></span>
                                                    <%}else{%>
                                                        <span class="new-price">Rs.<%= products[i].price%></span>

                                                        <%}%>
                                                    <%}
                                                    else{%>
                                                        <span class="new-price">Rs.<%= products[i].price%></span>

                                                    <%}
                                                %>
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->

                                    <div class="product-footer">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 60%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 4 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #af5f23;"><span
                                                    class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #806f55;"><span class="sr-only">Color
                                                    name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color
                                                    name</span></a>
                                        </div><!-- End .product-nav -->

                                        <div class="product-action">
                                            <% if(id){%>
                                                <a onclick="toAddCart('<%= products[i]._id %>')" class="btn-product btn-cart" title="Add to cart"><span>add to
                                                    cart</span></a><%}
                                                    else{%>
                                                        <%}%>
                                            <!-- <a onclick="toAddCart('<%= products[i]._id %>')" class="btn-product btn-cart" title="Add to cart"><span>add to
                                                    cart</span></a> -->
                                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                                title="Quick view"><span>quick view</span></a>
                                        </div><!-- End .product-action -->
                                    </div><!-- End .product-footer -->
                                </div><!-- End .product -->
                            </div><!-- End .col-6 col-md-4 col-lg-3 -->
                            <%}%>
                            <%} 
                            else{%><%}%>

                            

                        </div><!-- End .row -->
                    </div><!-- End .products -->
                </div><!-- .End .tab-pane -->
               
            </div><!-- End .tab-content -->

            <div class="more-container text-center mt-5">
                <a href="category.html" class="btn btn-outline-lightgray btn-more btn-round"><span>View more
                        products</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- End .more-container -->
        </div><!-- End .container -->

        <div class="mb-5"></div><!-- End .mb5 -->

        
       
    </main><!-- End .main -->
    <script>
// var slideIndex = 0;


// function slideshow() {
//     var i;
//     var slides = document.getElementsByClassName('intro-slide');
    
//     for (i = 0; i < slides.length; i++) {
//         slides[i].style.display = 'none';
//     }

//     slideIndex++;
//     if (slideIndex > slides.length) {
//         slideIndex = 1;
//     }

//     slides[slideIndex - 1].style.display = 'block';

//     setTimeout(slideshow, 1000); 
// }
// slideshow();



        function toAddCart(id) {
            console.log("add to cart function started");
            $.ajax({
                method: "post",
                url: "/addToCart",
                data: JSON.stringify({ id: id }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.result === true) {
                        $('#downCart').load('/ #downCart');
                        Swal.fire({
                            title: 'success',
                            text: 'Product added to cart',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });

                    } else if (response.count == true) {

                        $('#downCart').load('/ #downCart');
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Product count increased",
                            showConfirmButton: false,
                            timer: 1500
                        });

                    }
                    else {
                        Swal.fire({
                            title: 'Failed',
                            text: 'product is out of stock',
                            icon: 'failed',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function (error) {
                    console.error(error);
                }

            });
        }

        const carts = document.querySelectorAll('.carts');
        carts.forEach(cart => {
            cart.addEventListener("click", loginrequired);
        });

        function loginrequired() {
            Swal.fire({
                title: 'Login required',
                text: 'Please login',
                icon: 'error',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {

                    window.location.href = '/signin';
                }
            });

        }


        function wishlist(id) {
            console.log("hshfjfl");

            $.ajax({
                method: "post",
                url: "/addtowishlist",
                data: JSON.stringify({ id: id }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.result == true) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Sucessfully added to wishlist",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        console.log("sucess");
                    } else if (response.res == false) {
                        Swal.fire(" Item already exist in wishlist");
                    }
                    else {
                        Swal.fire({
                            title: 'Login required',
                            text: 'Please login',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/signin';
                            }
                        });
                    }
                }
            })
        }
    </script>

    <%- include('../user/layout/footers.ejs')-%>