<%- include('../user/layout/header.ejs') -%>
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Products<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9" id="shop-reload">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-info">
                                    <!-- Showing <span>9 of 56</span> Products -->
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-left -->

                            <div class="toolbox-right">
                                <!-- <div class="toolbox-sort">
                                    <label for="sortby">Sort by:</label>
                                    <div class="select-custom">
                                        <select name="sortby" id="sortby" class="form-control">
                                            <option value="popularity" selected="selected">Most Popular</option>
                                            <option value="rating">Most Rated</option>
                                            <option value="date">Date</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="toolbox-layout">
                                    <a href="category-list.html" class="btn-layout">
                                        <svg width="16" height="10">
                                            <rect x="0" y="0" width="4" height="4" />
                                            <rect x="6" y="0" width="10" height="4" />
                                            <rect x="0" y="6" width="4" height="4" />
                                            <rect x="6" y="6" width="10" height="4" />
                                        </svg>
                                    </a>

                                    <a href="category-2cols.html" class="btn-layout">
                                        <svg width="10" height="10">
                                            <rect x="0" y="0" width="4" height="4" />
                                            <rect x="6" y="0" width="4" height="4" />
                                            <rect x="0" y="6" width="4" height="4" />
                                            <rect x="6" y="6" width="4" height="4" />
                                        </svg>
                                    </a>

                                    <a href="category.html" class="btn-layout active">
                                        <svg width="16" height="10">
                                            <rect x="0" y="0" width="4" height="4" />
                                            <rect x="6" y="0" width="4" height="4" />
                                            <rect x="12" y="0" width="4" height="4" />
                                            <rect x="0" y="6" width="4" height="4" />
                                            <rect x="6" y="6" width="4" height="4" />
                                            <rect x="12" y="6" width="4" height="4" />
                                        </svg>
                                    </a>

                                    <a href="category-4cols.html" class="btn-layout">
                                        <svg width="22" height="10">
                                            <rect x="0" y="0" width="4" height="4" />
                                            <rect x="6" y="0" width="4" height="4" />
                                            <rect x="12" y="0" width="4" height="4" />
                                            <rect x="18" y="0" width="4" height="4" />
                                            <rect x="0" y="6" width="4" height="4" />
                                            <rect x="6" y="6" width="4" height="4" />
                                            <rect x="12" y="6" width="4" height="4" />
                                            <rect x="18" y="6" width="4" height="4" />
                                        </svg>
                                    </a>
                                </div><!-- End .toolbox-layout -->
                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->

                        <div class="products mb-3">
                            <div class="row justify-content-center">
                                <% if(productdata){%>
                                <% for(let i=0; i<productdata.length;i++){%>
                                    <% if(productdata[i].status==0){%>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <% if(productdata[i].offername =="categoryoffer"){%>
                                                <% if(productdata[i].offerstatus==0){%>
                                                    <span class="product-label label-primary">Sale</span>
                                                    <span class="product-label label-sale"> <%= productdata[i].Offerpercentage %>% off</span>
                                                    <%}else{%>
                                                        <%}%>
                                                <%}else if(productdata[i].offername =="Productoffer"){%>
                                                    <% if(productdata[i].offerstatus==0){%>
                                                        
                                                        <span class="product-label label-primary">Sale</span>
                                                        <span class="product-label label-sale"> <%= productdata[i].Offerpercentage %>% off</span>
                                                        <%}
                                                        else{%>
                                                            
                                                            <%}%>
                                                    <%}else{%>
                                                        <%}%>
                                            <a href="product.html">
                                                <img src="/sharpedimages/<%= productdata[i].image[0]%>" alt="Product image"
                                                    class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a onclick="wishlist('<%= productdata[i]._id %>')"
                                                    class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                                        wishlist</span></a>
                                               
                                               
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <% if (id){%>
                                                    <a href="#" onclick="toAddCart('<%= productdata[i]._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>  
                                                    <%}
                                                    else{%>
                                                        <p id="carts" onclick="loginrequired()" class="btn-product btn-cart"><span>add to cart</span></p>  

                                                        <%}
                                                    %>
                                                
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#"><%= productdata[i].category %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/productdetails?id=<%= productdata[i]._id %>"><%= productdata[i].productname%>
                                                    skirt</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <% if (productdata[i].offername == "categoryoffer") { %>
                                                    <% if (productdata[i].offerstatus == 0) { %>
                                                        <span class="new-price">Rs.<%= productdata[i].discountamount %></span>
                                                        <span class="original-price"><s>Rs.<%= productdata[i].price %></s></span>
                                                    <% } else { %>
                                                        <span class="original-price">Rs.<%= productdata[i].price %></span>
                                                    <% } %>
                                                <% } else if (productdata[i].offername == "Productoffer") { %>
                                                    <% if (productdata[i].offerstatus == 0) { %>
                                                        <span class="new-price">Rs.<%= productdata[i].discountamount %></span>
                                                        <span class="original-price"><s>Rs.<%= productdata[i].price %></s></span>
                                                    <% } else { %>
                                                        <span class="original-price">Rs.<%= productdata[i].price %></span>
                                                    <% } %>
                                                <% } else { %>
                                                    <span class="original-price">Rs.<%= productdata[i].price %></span>

                                                <% } %>

                                                
                                                
                                            </div><!-- End .product-price -->
                                           
                                            <div class="product-nav product-nav-thumbs">
                                                <a href="#" class="active">
                                                    <img src="/sharpedimages/<%= productdata[i].image[1]%>"
                                                        alt="product desc">
                                                </a>
                                                <a href="#">
                                                    <img src="/sharpedimages/<%= productdata[i].image[2]%>"
                                                        alt="product desc">
                                                </a>

                                                <a href="#">
                                                    <img src="/sharpedimages/<%= productdata[i].image[3]%>"
                                                        alt="product desc">
                                                </a>
                                            </div><!-- End .product-nav -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-4 -->

                              


                                
                                <%} %>
                                
                                <%}%>
                                <%}else{%>
                                    <h1 style="text-align: center; font-style: inherit;">No Products found!</h1><%}%>
                                
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                        <%if(productdata){%>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item ">
                                    <a class="page-link page-link-prev" href="/shop?id=-1" aria-label="Previous" 
                                       >
                                        <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                    </a>
                                </li>
                                <% if(pagecount){%>
                                    <% for(let i = 1; i <= pagecount; i++) { %>
                                        <li class="page-item active" aria-current="page">
                                          <a class="page-link" href="/shop?val=<%= i %>"><%= i %></a>
                                        </li>
                                      <% } %> <%}
                                else{%>
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href=""></a>
                                      </li>
                                    <%}%>
                                
                                  
                                <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                                <li class="page-item-total">of <%= pagecount%></li>
                                <li class="page-item">
                                    <a class="page-link page-link-next" href="/shop?id=1" aria-label="Next">
                                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <%} else{%><%}%>
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            <div class="widget widget-clean">
                                <label>Filters:</label>
                                <!-- <a href="#" class="sidebar-filter-clear">Clean All</a> -->
                            </div>

                           
                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												<!-- <div class="filter-item">
													 <div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-1" value="Men's Formal Shoes">
														<label class="custom-control-label" for="cat-1">Men's Formal Shoes
                                                        </label> 
                                                        <a style="cursor:pointer;" href="/Mformalshoes %>">Men's Formal Shoes</a> 

													</div>
													<span class="item-count"></span> 
												</div> -->
                                                <form method="get">
                                                
                                                <% for(let i=0;i<categorydata.length;i++){%>
                                                <div class="form-check">
                                                    <% if(categorys){%>
                                                        <input class="form-check-input" name="categorys" type="checkbox" value="<%=categorydata[i].productcategory %>" <%= categorys.includes(categorydata[i].productcategory) ? 'checked' : '' %>   id="<%=categorydata[i]._id %>">
                                                        <label class="form-check-label" for="<%=categorydata[i]._id %>">
                                                            
                                                        <%}
                                                        else{%>
                                                            <input class="form-check-input" name="categorys" type="checkbox" value="<%=categorydata[i].productcategory %>"    id="<%=categorydata[i]._id %>">
                                                            <label class="form-check-label" for="<%=categorydata[i]._id %>">
                                                            <%}%>
                                                        
                                                        <%= categorydata[i].productcategory  %>
                                                    </label>
                                                  </div>
                                                  <%}%>
                                                
                                                 
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
 
                            
                          

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                                        aria-controls="widget-4">
                                        Price
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-4">
                                    <div class="widget-body">
                                        <div class="filter-items">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="lowtohigh" name="lowtohigh" id="lowtohigh">
                                                <label class="form-check-label" for="lowtohigh">
                                                    Price low to high
                                                </label>
                                              </div>

                                              <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="hightolow" value="hightolow" id="hightolow">
                                                <label class="form-check-label" for="hightolow">
                                                    Price high to low
                                                </label>
                                              </div>
                                              <button type="submit" id="proceed-to-checkout" 
                                             
                                              class="btn btn-outline-primary-2 btn-order btn-block">Filter
                                          </button>
                                            </form>
                                           
                                            

                                            

                                            
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <!-- <button onclick="filter()" style="margin-top: 20px; font-size: 16px; padding: 10px 20px; background-color: #3498db; color: #ffffff; border: none; border-radius: 5px; cursor: pointer;"> Filter</button> -->

                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
            
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    <script>

function toAddCart(id) {
            console.log("add to cart function started");
            $.ajax({
                method: "post",
                url: "/addToCart",
                data: JSON.stringify({ id: id }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.result === true) {
                        $('#downCart').load('/ #downCart');
                        Swal.fire({
                            title: 'success',
                            text: 'Product added to cart',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });

                    } else if (response.count == true) {

                        $('#downCart').load('/ #downCart');
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Product count increased",
                            showConfirmButton: false,
                            timer: 1500
                        });

                    }
                    else {
                        Swal.fire({
                            title: 'Failed',
                            text: 'product is out of stock',
                            icon: 'failed',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function (error) {
                    console.error(error);
                }

            });
        }


        const carts = document.getElementById('carts');
       
       carts.addEventListener("click", loginrequired);


   function loginrequired() {
       Swal.fire({
           title: 'Login required',
           text: 'Please login',
           icon: 'error',
           confirmButtonText: 'OK'
       }).then((result) => {
           if (result.isConfirmed) {

               window.location.href = '/signin';
           }
       });

   }

      

        // function paginaction(){
        //     log
        // }

      function  filtercategory(id){
        console.log("igljjllji");
        $.ajax({
            url:'/sortproduct',
            method:'post',
            data:JSON.stringify({id:id}),
            contentType:'application/json',
            success:function(response){
                if(response.result == true){
                    console.log("Success");
                }
            }
        })

    }

function filtercategory(data){
    console.log("ihhkh");
    const checkboxes = document.getElementById('data');
console.log(checkboxes);

    
}

function lowtohigh(id){
    console.log(id);
    $.ajax({
        method:'post',
        url:'/pricesort',
        data:({val:id}),
        success:function(response){
            if(response.result==true){
                console.log("fghhhhhhhh")
                window.location.href = '/pricehightolow';
            }else if(response.result==false){
                window.location.href = '/pricelowtohigh';
            }
        }
    })
}

// function formalshoes(){
//     $.ajax({
//         method:'post',
//         url:'/formal',
//         success:function(response){
//             if(response.result == true){
                
//             }
//         }
//     })
// }

function wishlist(id) {
            console.log("hshfjfl");

            $.ajax({
                method: "post",
                url: "/addtowishlist",
                data: JSON.stringify({ id: id }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.result == true) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Sucessfully added to wishlist",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        console.log("sucess");
                    } else if (response.res == false) {
                        Swal.fire(" Item already exist in wishlist");
                    }
                    else {
                        Swal.fire({
                            title: 'Login required',
                            text: 'Please login',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/signin';
                            }
                        });
                    }
                }
            })
        }

    </script>
    <%- include('../user/layout/footers.ejs') -%>