<%- include('../user/layout/header.ejs') -%>
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Wallet<span>Your wallet history</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                
                <div style="width: 100px; height: 50px;"> <!-- Adjust width and height as needed -->
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3" >Add Money</button>
                  </div>
                                  <div class="container" style="background-color: rgb(247, 234, 211); height: 100px; display: flex; align-items: center; justify-content: center;">
                    <h1>Rs.<%= walletdata.balance %></h1>
                </div>
                
                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr><b>
                                            <th style="font-weight: 800;">No.</th>
                                            <th style="font-weight: 800;">Date</th>
                                            <th style="font-weight: 800;">Type
                                            </th>
                                            <th style="font-weight: 800;">Amount
                                            </th>
                                             <!-- <th style="font-weight: 800;">Status
                                            </th>  -->
                                            <!-- <th style="font-weight: 800;">Details
                                            </th> -->
                                        </b>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let count=1 %>
                                    <% let data = walletdata.items%>
                                    <% for(let i=0;i<data.length;i++){%>
                                            <tr>
                                                <td>
                                                    <%= count++ %>
                                                   
                                                </td>
                                                <td>
                                                    <%= data[i].date.toLocaleDateString('en-US', { year:
                                                        'numeric', month: 'short', day: '2-digit'
                                                        }).replace(/\//g, '-') %>  
                                                </td>
                                                <td>
                                                    <%= data[i].type %>
                                                </td>
                                                <td>
                                                   <%= data[i].amount %> 
                                                     
                                                </td>

                                                <!-- <td><a
                                                        href=>Details</a>
                                                </td> -->
                                            </tr>
                                            <%}%>
                                           

                                </tbody>
                            </table>
                        </div>
                        
                    
                 
              
            </div><!-- End .container -->
            
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    <script>

     


    </script>
    <%- include('../user/layout/footers.ejs') -%>